.button {
  background-color: #4ec2e6;
  padding: 0.5rem 0.8rem;
  border-radius: 0.8rem;
  color: #fff;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:disabled {
    filter: grayscale(1);
    cursor: default;
    pointer-events: none;
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus-visible {
    outline-offset: 0.2rem;
    outline: 2px solid;
    outline-color: #ffd561;
  }
}
